@use '../../../../shared/styles/variables' as *;
@use '../../../../shared/styles/mixins' as *;

:host {
  display: block;
}

.card {
  @include card;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 100%;

  .flag {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }

  .card-content {
    padding: $spacing-md;
    flex: 1;

    .country-name {
      margin-bottom: $spacing-sm;
      font-size: $font-size-xl;
      font-weight: $font-weight-extrabold;
    }

    p {
      margin: $spacing-xs 0;
      font-size: $font-size-lg;

      strong {
        font-weight: $font-weight-semibold;
      }
    }
  }

  @include tablet {
    .card-content {
      padding: $spacing-lg;

      .country-name {
        font-size: $font-size-2xl;
      }
    }
  }
}
