@use '../../../shared/styles/variables' as *;
@use '../../../shared/styles/mixins' as *;


.theme-toggle {
  @include button-base;
  text-align: center;
  background: none;
  color: var(--text-color);
  font-size: 0.7rem;
  font-weight: $font-weight-semibold;
  padding: 0.9rem 0.5rem 0.9rem 0.5rem;

  @include tablet {
      font-size: $font-size-base;
    }

    @include desktop {
      font-size: $font-size-xl;
    }

  &:hover {
    text-decoration: none;
  }
}
