/* You can add global styles to this file, and also import other style files */
@use './app/shared/styles/variables' as *;
@use './app/shared/styles/mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

html, body {
  overflow: hidden;
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: 1.6;
  background: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
   scrollbar-width: thin;
  // Sets thumb and track colors respectively
  scrollbar-color: $dark-gray var(--bg-color);
}



p {
  margin: 0;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

// Utility classes
.container {
  @include container;
}


